@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* HEADER */
header{
    display: flex;
    flex-flow: column;
}
main{
    width: 1440px;
}
.heading{
    display: flex;
    padding: 38px 0 35px 0;
    border-bottom: 1px solid rgba(72,77,81,0.08);
}
.head-img{
    object-fit: contain;
    margin: 0 auto;
}

    /* NAVIGATION */
.nav{
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav a{
    display: block;
    padding: 16px 0 15px 0;
    margin-right: 24px;
    margin-top: -1px;
    border-top: 1px solid transparent;
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #484d51;
}
.nav a:hover{
    border-top: 1px solid #ae9584;
    color: #ae9584;
}
.nav .last-a{
    margin-right: 0;
}

/* MAIN part */
.main-home {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.main-img-home {
    background: url(../img/home/main.png)no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 432px;
}
    /* ARTICLES */
article{
    margin: 72px 0 0 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 800px;
}
article:last-of-type{
    margin-bottom: 120px;
}

article h2{
    font-weight: 700;
    width: 60px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ae9584;
}
article h3{
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.3px;
    color: #484d51;
}
article p {
    font-size: 16px;
    line-height: 1.5;
    color: #a3a6a8;
    letter-spacing: 0.3px;
    text-align: justify;
}
    /* Recipe images */
.main-home-dinner {
    background: url(../img/home/dinner.png)no-repeat center center;
    background-size: cover;
    width: 47.5%;
    height: 328px;
}
.main-home-breakfast {
    background: url(../img/home/breakfast.png)no-repeat center center;
    background-size: cover;
    width: 47.5%;
    height: 328px;
}
.main-home-snacks {
    background: url(../img/home/snacks.png)no-repeat center center;
    background-size: cover;
    width: 47.5%;
    height: 328px;
}

    /* RECIPE */
.main-home-recipe {
    display: flex;
    flex-flow: column;
    width: 46.5%;
    max-height: 320px;
}
.main-home-recipe h2,
.main-home-recipe > p{
    padding: 16px 0 16px 0;
}


    /* Read more button */
.main-home-recipe-button{
    display: flex;
}

.main-home-recipe-button > a{
    display: block;
    width: 97px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #484d51;
    z-index: 2;
}
.main-home-recipe-button > div{
    width: 72px;
    height: 32px;
    background-color: #f8f8f9;
    margin-left: -72px;
    border-radius: 4px;
}
.arrow{
    display: block;
    width: 4px;
    height: 4px;
    position: relative;
    right: 22px;
    top: 14px;
    transform: rotate(45deg);
    border-style: solid;
    border-color: #484d51;
    border-width: 2px 2px 0 0;
}

.main-home-recipe-button a:hover{
    cursor: pointer;
    color: #ae9584;
}
.main-home-recipe-button a:hover ~ .arrow{
    border-color: #ae9584;
}
.main-home-recipe-button a:hover ~ div{
    background-color: rgba(234,234,237,0.45);
}

/* FOOTER */

footer{
    background: url(../img/common/footer.png)no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 432px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 88px;
    opacity: 0.6;
    background-color: #484d51;
    position: relative;
    top: 79.6%;
}
.copyright span{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    margin: 2.3% 7.8%;
}

/* BREAKFAST */

/* MAIN */
.main-img-breakfast,
.main-img-supchik{
    background-size: cover;
    width: 100%;
    height: 432px;
    position: relative;
    margin-bottom: 64px;
}
.main-img-breakfast{
    background: url(../img/breakfest/Breakfast.png)no-repeat center center;
}
.main-img-breakfast a,
.main-img-supchik a{
    color: #ffffff;
}
.main-img-breakfast a:hover,
.main-img-supchik a:hover{
    text-decoration: underline;
}
.main-img-breakfast p,
.main-img-supchik p{
    height: 16px;
    opacity: 0.48;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 5.6%;
    left: 15%;
    text-align: left;
}
.main-img-breakfast span,
.main-img-supchik span{
    color: #f9e4b3;
    z-index: 2;
    padding: 0 5px;
}
.main-img-breakfast h1,
.main-img-supchik h1{
    width: 217px;
    height: 66px;
    font-family: 'Source Serif Pro', serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: left;
    position: relative;
    left: 42.5%;
    top: 31%;
    color: #fff;
}
.main-breakfast-tost{
    background: url(../img/common/tost.png)no-repeat center center;
    background-size: cover;
    width: 176px;
    height: 152px;
}
.main-breakfast article:first-of-type .main-breakfast-tost{
    background: url(../img/supchik/soup.png)no-repeat center center;
    background-size: cover;
    width: 176px;
    height: 152px;
}
.main-breakfast,
.main-supchik{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 990px;
}
    /* ARTICLES */
.main-breakfast article,
.main-supchik article{
    margin: 0 0 48px 0;
    max-width: 472px;
}
.main-breakfast-recipe{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    max-width: 264px;
    max-height: 320px;
    margin-left: 32px;
}
.main-breakfast-recipe h2{
    width: 264px;
    height: 24px;
    line-height: 1.71;
    text-align: left;
    color: #484d51;
}
.main-breakfast-recipe p{
    margin-bottom: 8px;
}

.load-more{
    display: flex;
    margin: 0 auto;
    margin-bottom: 96px;
    padding: 24px;
    width: 93px;
    height: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: #ae9584;
    background-color: #f8f8f9;
}

.load-more:hover{
    color: #cca57f;
    background-color: rgba(234,234,237,0.45);
}

/* SUPCHICK */

.main-img-supchik{
    background: url(../img/supchik/Supchik.png)no-repeat center center;
}
.wrapper{
    width: 1440px;
    background-color: #f8f8f9;
    padding: 80px 0 60px 0;
}
.recipe{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.recipe div{
    width: 376px;
}
.recipe div h2{
    width: 376px;
    height: 72px;
    font-family: 'Source Serif Pro', serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
    color: #484d51
}
.recipe div p{
    width: 376px;
    height: 120px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: justify;
    color: #a3a6a8;
}
.recipe ul{
    width: 376px;
    height: 216px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #484d51;
    margin-left: 144px;
}
.save-recipe{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    height: 216px;
}
.save-recipe img{
    margin-left: 80px;
}
.save-recipe div{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.save-recipe h2{
    width: 264px;
    height: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: left;
    color: #ae9584;
    text-transform: uppercase;
}
.save-recipe div button{
    width: 176px;
    height: 48px;
    border-radius: 6px;
    background-color: #f8f8f9;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 1px;
    color: #484d51;
    border: 0;
    cursor: pointer;
}
.save-recipe div button:hover{
    background-color: #ededf1;
}
